{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy", // should always be the first plugin!
    "transform-async-to-generator",
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ],
  "env": {
    "development": { // this is default

    },
    "production": {

    }
  } 
}
